{% extends 'generics/student/index.html' %}
{% block title %} profile {% endblock title%}
{% block content %}
<div class='alert' mt-4>
    {% if messages %}
    {% for msg in messages %}
	<div class="alert alert-{{msg.tags}}" role="alert">
	{{msg}}
	</div>
    {% endfor %}
    {% endif %}
</div>
<!-- <img src="{{ student.profile_picture.url }}" class="img-thumbnail" width='200' height='100px' alt="..."> -->
<div class="card">
	<img src="{{ student.profile_picture.url }}" class="img-thumbnail ml-5 align-self-end mt-5 " height='25%'  width='30%' alt="...">
	<div class="card-body">
	  <!-- <h5 class="card-title">{{ user.username }}</h5> -->
	  {% if student.first_name %}
	  <hr>
	  <p> STUDENT NAME: {{ student.first_name }} {{ student.last_name }}</p>
	  <hr>
	  <p> MATRIC NUMBER: {{ student.matric_number }} </p>
	  <hr>
	  <p> ADDRESS: {{ student.state }} - ({{ student.city }}) </p>
	  <hr>
          <p> ZIPCODE: {{ student.zipcode }} </p>
	  <hr>
	  {% else %}
	  <p> update your profile </p>
	  {% endif %}
    <a href={% url "student:update" user.id %} class="btn btn-primary">Update Account</a>
    <a href={% url "student:delete" user.id %} class="btn btn-danger">Delete Account</a>
  </div>
</div>
{% endblock content %}
