{% extends 'generics/student/index.html' %}
{% block title %} profile {% endblock title%}
{% block content %}
<div class="card">
	<img src="{{ student.profile_photo }}" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="{% url 'student:update' %}" class="btn btn-primary">Update Profile</a>
  </div>
</div>
{% endblock content %}
